
  <header class="jumbotron my-4 d-none">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <% @posts.each do |post| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/1.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title"><%= truncate(post.title, length: 65) %></h4>
            <p class="card-text"><%= truncate(post.body, length: 65) %></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- /.row -->

  </div>
